<div class="cadastro">
  <h2>Cadastro</h2>
  <form (ngSubmit)="cadastrar()" [formGroup]="form"> <!-- Vinculo ao form group -->
    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.nome.dirty ||
        form.controls.nome.touched) &&
        form.controls.nome.errors}">
      <label for="nome">Nome completo:<input type="text" name="nome" formControlName="nome"></label>

      <span *ngIf="(form.controls.nome.dirty ||
            form.controls.nome.touched) &&
            form.controls.nome.errors &&
            form.controls.nome.errors['required']">
        *Preenchimento obrigatório
      </span>
      <span *ngIf="(form.controls.nome.dirty ||
            form.controls.nome.touched) &&
            form.controls.nome.errors &&
            form.controls.nome.errors['validarNomeCompleto']">
        *Por favor, insira seu nome completo
      </span>
    </div>
    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.email.dirty ||
      form.controls.email.touched) &&
      form.controls.email.errors}">
      <label for="email">Email:<input type="text" name="email" formControlName="email"></label>

      <span *ngIf="(form.controls.email.dirty ||
          form.controls.email.touched) &&
          form.controls.email.errors &&
          form.controls.email.errors['required']">
        Preenchimento obrigatório
      </span>
    </div>

    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.dataNascimento.dirty ||
    form.controls.dataNascimento.touched) &&
    form.controls.dataNascimento.errors}">

      <label for="dataNascimento">Data de nascimento:<input type="date" name="dataNascimento"
          formControlName="dataNascimento"></label>

      <span *ngIf="form.controls.dataNascimento.dirty &&
      form.controls.dataNascimento.touched &&
      form.controls.dataNascimento.errors &&
      form.controls.dataNascimento.errors['required']">
        Preenchimento obrigatório
      </span>

    </div>

    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.peso.dirty ||
    form.controls.peso.touched) &&
    form.controls.peso.errors}">

      <label for="peso">Peso(kg):<input type="number" name="peso" formControlName="peso"></label>

      <span *ngIf="form.controls.peso.dirty &&
      form.controls.peso.touched &&
      form.controls.peso.errors &&
      form.controls.peso.errors['required']">
        Preenchimento obrigatório
      </span>

    </div>

    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.altura.dirty ||
    form.controls.altura.touched) &&
    form.controls.altura.errors}">

      <label for="altura">Altura(cm):<input type="number" name="altura" formControlName="altura"></label>

      <span *ngIf="form.controls.altura.dirty &&
      form.controls.altura.touched &&
      form.controls.altura.errors &&
      form.controls.altura.errors['required']">
        Preenchimento obrigatório
      </span>
    </div>

    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.senha.dirty ||
    form.controls.senha.touched) &&
    form.controls.senha.errors}">
      <label for="senha">Senha:<input type="password" name="senha" formControlName="senha"></label>

      <span *ngIf="form.controls.senha.dirty &&
          form.controls.senha.touched &&
          form.controls.senha.errors &&
          form.controls.senha.errors['minlength']">
        A senha deve conter ao menos 4 caracteres
      </span>
      <span *ngIf="form.controls.senha.dirty &&
          form.controls.senha.touched &&
          form.controls.senha.errors &&
          form.controls.senha.errors['required']">
        Preenchimento obrigatório
      </span>
    </div>
    <div class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.confirmarSenha.dirty ||
    form.controls.confirmarSenha.touched) &&
    form.controls.confirmarSenha.errors}">
      <label for="confirmarSenha">Confirmar senha:<input type="password" name="confirmarSenha"
          formControlName="confirmarSenha"></label>

      <span *ngIf="form.controls.confirmarSenha.dirty &&
          form.controls.confirmarSenha.touched &&
          form.controls.confirmarSenha.errors &&
          form.controls.confirmarSenha.errors['minlength']">
        A senha deve conter ao menos 4 caracteres
      </span>
      <span *ngIf="form.controls.confirmarSenha.dirty &&
          form.controls.confirmarSenha.touched &&
          form.controls.confirmarSenha.errors &&
          form.controls.confirmarSenha.errors['required']">
        Preenchimento obrigatório
      </span>
    </div>
    <div class="form-btn">
      <button type="submit">Cadastrar</button>
      <button type="button" (click)="goToLogin()">
        Voltar</button>
    </div>
  </form>
</div>