@import '../../assets/styles/variables';

.container{
    padding-top: 150px;
}

.form-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 24px;
    font-family: monospace;
    font-size: 1.2em;
    color: #666;
    background-color: #00ffee41;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    @include estiloTitulos;
    text-align: center;
  }
  

.form-content fieldset {
    margin-bottom: 20px;
    border: none;
    padding-right: 35px;
}

.form-content label {
    display: block;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #666;
}

.form-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

.form-content .form-btn button {
    margin-right: 10px;
}

.form-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    color: #fff;
    cursor: pointer;
}

.form-content button:hover {
    color: #666;
    background-color: #00ffec;
}


.showAddress {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
}

