<app-header></app-header>
<div class="container">
    <h2>Perfil do Usuário</h2>
    <div class="content form-content">
        
        <div class="profile-container " id="profileData">
            <div *ngIf="userData" id="cadastroList">
                <p><strong>Nome:</strong> {{ userData.nome }}</p>
                <p><strong>Email:</strong> {{ userData.email }}</p>
                <p><strong>Peso:</strong> {{ userData.peso }}kg</p>
                <p><strong>Altura:</strong> {{ userData.altura | conversorAltura }}</p>
                <p><strong>Código do Usuário: </strong>{{ userData.codigoUsuario }}</p>
            </div>
        </div>
        <label><strong>Localização (insira seu CEP)</strong> : <input type="text" [(ngModel)]="cep"></label>
        <button class="form-btn" (click)="searchAddress()">Buscar</button>

        <div class="showAddress" *ngIf="showAddress">
            {{ address }}
        </div>
    </div>
</div>