<div class="container">
    <div class="content form-content">
        <h2>Perfil do Usuário</h2>
        <div class="profile-container " id="profileData">
            <div *ngIf="userData" id="cadastroList">
                <h2>Perfil do Usuário</h2>
                <p>Nome: {{ userData.nome }}</p>
                <p>Email: {{ userData.email }}</p>
                <p>Peso: {{ userData.peso }} kg</p>
                <p>Altura: {{ userData.altura | conversorAltura }}</p>
                <p>Código do Usuário: {{ userData.codigoUsuario }}</p>
            </div>
        </div>
        <label><b>Localização (insira seu CEP)</b> : <input type="text" [(ngModel)]="cep"></label>
                <button class="form-btn" (click)="searchAddress()">Buscar</button>
                
                <div class="showAddress" *ngIf="showAddress">
                    {{ address }}
                </div>
    </div>
</div>