@import '../../assets/styles/variables';
@import '../../assets/styles/mixin.scss';

h2 {
  font-size: 30px;
  font-weight: 700;
  @include estiloTitulos;
  text-align: center;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 1.2em;
  background-color: #00ffee41;

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: lighter;
    color: #666;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  .form-btn {
    margin-top: 20px;

    button {
      margin-right: 10px;
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #666;
      background-color: #00ffec;
    }
  }

  button[type="submit"] {
    background-color: $main-color;
  }

  button[type="submit"]:hover {
    background-color: #00ffec;
  }

  .link-cadastro {
    margin-top: 14px;
    font-size: .8em;
  }
}
