.search-field{
  font-family: monospace;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  background: linear-gradient(135deg, #ff00ea, #00ffec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: -webkit-text-fill-color 0.3s ease;
}

.title:hover {
  background: linear-gradient(135deg, #00ffec, #ff00ea);
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

input{
  margin-bottom: 30px;
  width: 600px; 
  height: 20px;
  padding: 10px;
  border-radius: 20px; 
  border: 2px solid #ccc; 
  font-size: 16px; 
  outline: none; 
  transition: border-color 0.3s;
}

input:focus {
  border-color: #ff00ea; 
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  animation: shake 0.5s ease; /* Apply the flicker animation */
}

@keyframes shake {
  0% { transform: translateX(0); } /* Start with no translation */
  25% { transform: translateX(-5px); } /* Move left */
  50% { transform: translateX(5px); } /* Move right */
  75% { transform: translateX(-3px); } /* Move left */
  100% { transform: translateX(0); } /* Return to initial position */
}

.card img {
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.card h3 {
  font-family: monospace;
  font-size: 22px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #ff00ea, #00ffec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: -webkit-text-fill-color 0.3s ease;
}
.card p {
  color: #666;
}

.card:hover{
  cursor: pointer;
}

.display-flex{
  display: grid;
  gap: 20px;
  padding-top: 0;
  padding-left: 70px;
  padding-right: 70px;
  grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width: 600px) {
  .display-flex {
    padding: 0;
    grid-template-columns: 1fr;
}
input {
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
}

}