@import '../../assets/styles/variables';

.main{
  padding-top: 150px;
}

.titulo{
  font-family: monospace;
  font-size: 30px;
  font-weight: 700;
  @include estiloTitulos2;
}

.fruit-details{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto; 
  padding-left: 70px;
  padding-right: 70px;
}

.voltar{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto; 
}

.image {
  text-align: center;
  margin-right: 20px; 
}

.image img {
  max-width: 100%; 
  height: auto; 
}

.details {
  background-color: #00ffee41;
  padding: 50px;
  border-radius: 30px;
  width: 800px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

p{
  line-height: 120%;
  color: rgb(46, 46, 46);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: $main-color;
  color: #fff;
  cursor: pointer;
  margin-right: 70px;
}

button:hover {
  color: #666;
  background-color: #00ffec;
}


@media screen and (max-width: 720px) {
  .fruit-details {
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }

  .image {
    width: 100%;
    max-width: 90%;
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .details{
    width: 100%;
    max-width: 90%;
    margin-bottom: 30px;
  }

  .voltar{
    align-items: center;
    justify-content: center;
    margin: 0;

    button{
      margin:0;
    }
  }
}