<div class="container">
    <div class="row pt-3 header">
        <div class="col-6">
            <h2 class="heading-section">Lista de exercícios</h2>
        </div>
        <div class="col-6 text-end">
            <button pButton type="button" label="Add New" icon="pi pi-plus" (click)="showDialog()" class="addNew">Add New</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="grid-section">
            @if(exerciseList.length !== 0){
                
                @for (item of exerciseList; track $index){
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 tituloEsporte">
                                {{ item.exercise }}
                            </div>
                            <div class="col-12 data">
                                {{ item.date }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="exercise-details">
                            <div class="exercise-image">
                                <img [src]="getExerciseImage(item.exercise)" alt="Exercise Image">
                            </div>
                            <div class="exercise-info">
                                <p class="discancia"><strong>Distância:</strong> {{ item.distance }} km </p>
                                <p class="duracao"><strong>Duração(min):</strong> {{ item.time }} min </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Delete</button>
                    </div>
                    
                </div>}
            } @else {
                <div class="col-12 p-4 text-center">
                    <p>No record found. Create new record</p>
                </div>
            }
        </div>
    </div>


<p-dialog header="Cadastrar Exercício" [(visible)]="visible" [modal]="true" [responsive]="true"
    [style]="{width: '500px'}" class="superModal" (onHide)="closeModal()">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="exerciseSelect">Escolha o exercício:</label>
                        <select class="form-select" id="exerciseSelect" [(ngModel)]="exerciseObj.exercise">
                            <option value="" disabled selected>Escolha...</option>
                            <option value="corrida">corrida</option>
                            <option value="yoga">yoga</option>
                            <option value="bicicleta">bicicleta</option>
                            <option value="esporte">esporte</option>
                            <option value="natação">natação</option>
                            <option value="musculação">musculação</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="">Data:</label>
                        <input type="date" [(ngModel)]="exerciseObj.date" class="form-control" placeholder="date">
                    </div>
                    <div class="col-6">
                        <label for="">Distância:</label>
                        <input type="text" [(ngModel)]="exerciseObj.distance" class="form-control"
                            placeholder="distance">
                    </div>
                    <div class="col-6">
                        <label for="">Duração:</label>
                        <input type="text" [(ngModel)]="exerciseObj.time" class="form-control" placeholder="time">
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
                @if (exerciseObj.id == 0){
                <button type="button" class="btn btn-primary" (click)="saveExercise()">Save Exercise</button>
                } @else {
                <button type="button" class="btn btn-success" (click)="updateExercise()">Update Exercise</button>
                }
            </div>
        </div>
    </div>
</p-dialog>